<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="information" ng-show="todayVisit == null">
        <div ng-show="amountOfVisits < 5">
          <h6>No se ha registrado una visita para esta persona el dia de hoy.</h6>
          <a href="" class="btn btn-sm btn-block info text-u-c" ng-click="createVisit()">Registrar visita {{ today | date : 'MMM dd'}}</a>
        </div>
        <div ng-hide="amountOfVisits < 5">
          <h6>Se ha llegado al limite de visitas.</h6>
        </div>
      </div>
      <div class="row" ng-show="todayVisit != null">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="service in todayVisit.services">
          <div class="box service" ng-class="{ 'red': service.used, 'blue': !service.used }">
            <div class="box-tool">
              <ul class="nav">
                <li class="nav-item inline"><a class="nav-link text-muted p-x-xs" data-toggle="modal" data-target="#modal" ng-click="selectService(service)"><i class="material-icons md-18">&#xe8fd;</i></a></li>
                <!-- <li class="nav-item inline dropdown"><a class="nav-link text-muted p-x-xs" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                  <div class="dropdown-menu dropdown-menu-scale pull-right">
                    <a class="dropdown-item" href="">Ver detalles</a>
                  </div>
                </li> -->
              </ul>
            </div>
            <a data-toggle="modal" data-target="#agreeModal" ng-click="selectService(service)">
              <img ng-src="{{service.pictureDataURI}}"/>
              <span ng-bind="service.name"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="modal" class="modal black-overlay in" data-backdrop="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Instrucciones</h5>
      </div>
      <div class="modal-body text-center p-lg">
        <p ng-bind="iService.description"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn info p-x-md" data-dismiss="modal">Entendido</button>
      </div>
    </div>
  </div>
</div>
<div id="agreeModal" class="modal black-overlay in" data-backdrop="true">
  <div class="row-col h-v">
    <div class="row-cell v-m">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Servicio</h5>
          </div>
          <div class="modal-body text-center p-lg">
            <p ng-show="iService.used">Desea desmarcar el servicio {{iService.name}} como provisto?</p>
            <p ng-show="!iService.used">Desea marcar el servicio {{iService.name}} como provisto?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
            <button type="button" class="btn danger p-x-md" data-dismiss="modal" ng-click="serviceProvided()">Si</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
