
  <ul class="nav" ui-nav>
    <li class="nav-header hidden-folded">
      <small class="text-muted">Opciones</small>
    </li>

    <li>
      <a href="#/visitor">
        <span class="nav-icon">
          <i class="material-icons">&#xe7fb;</i>
        </span>
        <span class="nav-text">Visitantes</span>
      </a>
    </li>

    <li>
      <a href="#/admin" ui-sref="app.widget">
        <span class="nav-icon">
          <i class="material-icons">&#xe051;</i>
        </span>
        <span class="nav-text">Administracion</span>
      </a>
    </li>

    <li>
      <a href="#/performance">
        <span class="nav-icon">
          <i class="material-icons">&#xe24b;</i>
        </span>
        <span class="nav-text">Estadisticas</span>
      </a>
    </li>

    <li ng-class="{active:$state.includes('app.layout')}" class="active">
      <a>
        <span class="nav-icon">
          <i class="material-icons">&#xe24b;</i>
        </span>
        <span class="nav-text">Estadisticas</span>
      </a>
      <ul class="nav-sub">
          <li>
            <a href="#/performance/visitor"><span class="nav-text">Visitantes</span></a>
          </li>
          <li>
            <a href="#/performance/resource"><span class="nav-text">Recursos</span></a>
          </li>
          <li>
            <a href="#/export"><span class="nav-text">Exportar</span></a>
          </li>
        </ul>
      </li>
  </ul>
