<div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-6 blue-bg">
    <div class="center-block w-xxl w-auto-xs p-y-md ng-scope">
      <div class="login-logo">
        <img src="../assets/images/logo.png" alt="." class="">
        <span>eCAM</span>
      </div>
      <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
        <div class="m-b text-sm ng-binding">Sign up to your Flatkit Account</div>
        <form name="form" class="ng-pristine ng-valid">
          <div class="md-form-group">
            <input type="text" class="md-input" required=""><label>Name</label>
          </div>
          <div class="md-form-group">
            <input type="email" class="md-input" required=""><label>Email</label>
          </div>
          <div class="md-form-group">
            <input type="password" class="md-input" required=""><label>Password</label>
          </div>
          <div class="m-b-md">
            <label class="md-check"><input type="checkbox" required=""><i class="primary"></i> Agree the <a href="">terms and policy</a></label>
          </div>
          <button type="submit" class="btn primary btn-block p-x-md">Sign up</button>
        </form>
      </div>
      <div class="p-v-lg text-center">
        <div>Already have an account? <a ui-sref="access.signin" href="#/access/signin" class="text-primary _600">Sign in</a></div>
      </div>
    </div>
  </div>
</div>
