@import "button.scss";

.camera {
    width: 320px;
    height: 320px;
    margin: 0 auto;
}

.profile {
  margin-top: 1rem;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  .item {
    width: 33.3%;
    padding: .3rem;
    position: relative;
    display: block;
  }
}

.service {
  text-align: center;
  padding: 2rem;
  border-radius: 2px;
  span {
    display: block;
    padding-top: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: large;
  }
  .lateral {
    width: 50%;
  }
}

.information {
    text-align: center;
    padding: 5rem 3rem;
    .btn {
      max-width: 20rem;
      margin: 0 auto;
    }
}

.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/rails.jpg);
  background-size: cover;
  height: 100vh;
  .row {
    height: inherit;
    [class*="col-"] {
      height: inherit;
    }
    .blue-bg {
      background-color: rgba(25, 118, 208, 0.75);
    }
  }

  .custom-logo {
    img {
      display: block;
      margin: 0 auto;
    }
    span {
      display: block;
      color: #ffffff;
      font-size: 2rem;
      text-align: center;
    }
  }
}
