
<div class="padding">
  <h5>Recursos</h5>
    <div class="row">
      <div class="col-md-8">
        <div class="box">
          <div class="box-header">
            <h3>Servicios</h3>
            <small class="block text-muted">Servicios provistos contra promedio</small>
          </div>
          <div class="box-body">
            <div ui-jp="chart" ui-options=" {
              tooltip : {
                  trigger: 'axis'
              },
              legend: {
                  orient : 'vertical',
                  x : 'left',
                  y : 0,
                  data:['Promedio','Provistos']
              },
              polar : [
                 {
                     indicator : [
                         { text: 'Comida', max: 6000},
                         { text: 'Legal', max: 16000},
                         { text: 'Psicologico', max: 30000},
                         { text: 'Salud', max: 38000},
                         { text: 'LLamada', max: 52000},
                         { text: 'Otros', max: 25000}
                      ]
                  }
              ],
              calculable : true,
              series : [
                  {
                      name: 'Budget vs spending',
                      type: 'radar',
                      data : [
                          {
                              value : [4300, 10000, 28000, 35000, 50000, 19000],
                              name : 'Promedio'
                          },
                           {
                              value : [5000, 14000, 28000, 31000, 42000, 21000],
                              name : 'Provistos'
                          }
                      ]
                  }
              ]
            }" style="height:400px" >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="box">
          <div class="box-header">
            <h3>Consumo</h3>
            <small class="block text-muted">Asi se comsumen los servicios</small>
          </div>
          <div class="box-body">
            <div ui-jp="chart" ui-options=" {
              tooltip : {
                  trigger: 'item',
                  formatter: '{a} <br/>{b} : {c} ({d}%)'
              },
              legend: {
                  orient : 'vertical',
                  x : 'left',
                  data:['Atn. Medica','Llamada','Legal','Psi','Comida']
              },
              calculable : true,
              series : [
                  {
                      name:'Source',
                      type:'pie',
                      radius : '55%',
                      center: ['50%', '60%'],
                      data:[
                          {value:335, name:'Atn. Medica'},
                          {value:310, name:'Llamada'},
                          {value:234, name:'Legal'},
                          {value:135, name:'Psi'},
                          {value:1548, name:'Comida'}
                      ]
                  }
              ]
            }" style="height:400px" >
            </div>
          </div>
        </div>
      </div>

    </div>
</div>
