<div class="padding">
    <h5>Visitantes</h5>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="box p-a">
          <div class="pull-left m-r">
            <span class="w-40 {{app.setting.theme.warn}} text-center rounded">
              <i class="material-icons">face</i>
            </span>
          </div>
          <div class="clear">
            <h4 class="m-a-0 text-md"><a href>32 <span class="text-sm">Visitantes</span></a></h4>
            <small class="text-muted">5 no inmigrantes</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="box-color p-a {{app.setting.theme.warn}}">
          <div class="pull-left m-r">
            <span class="m-y-sm inline" ui-jp="sparkline" ui-options="[[2,8],[4,6],[6,4],[8,2],[10,0],[8,2],[6,4],[4,6],[2,8]], {type:'bar', height:24, barWidth:4, barSpacing:2, stackedBarColor:['#fff', 'rgba(255,255,255,0.2)']}"></span>
          </div>
          <div class="clear">
            <h4 class="m-a-0 text-md"><a href>25% <span class="text-sm">Incrementado</span></a></h4>
            <small class="text-muted">con respecto a la semana pasada</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="box p-a">
          <div class="pull-left m-r">
            <span ui-jp="sparkline" ui-refresh="app.setting.color" ui-options="[40,60], {type:'pie', height:36, sliceColors:['{{app.color.light}}','{{app.setting.color.primary}}']}" class="sparkline inline"></span>
          </div>
          <div class="clear">
            <h4 class="m-a-0 text-md"><a href>60% <span class="text-sm">Retorno</span></a></h4>
            <small class="text-muted">Retorno por 2da vez</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <div class="box">
          <div class="box-header">
            <h3>Visitas</h3>
            <small class="block text-muted">Estas son las visitas de esta semana</small>
          </div>
          <div class="box-body">
            <div ui-jp="chart" ui-options=" {
              tooltip : {
                  trigger: 'axis'
              },
              legend: {
                  data:['Promedio','Esta semana']
              },
              calculable : true,
              xAxis : [
                  {
                      type : 'category',
                      boundaryGap : false,
                      data : ['Lun','Mar','Mier','Ju','Vi','Sab','Dom']
                  }
              ],
              yAxis : [
                  {
                      type : 'value',
                      axisLabel : {
                          formatter: '{value}'
                      }
                  }
              ],
              series : [
                  {
                      name:'Promedio',
                      type:'line',
                      data:[7, 6, 15, 13, 10, 17, 10],
                      markPoint : {
                          data : [
                              {type : 'max', name: 'Max'},
                              {type : 'min', name: 'Min'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name: 'Average'}
                          ]
                      }
                  },
                  {
                      name:'Esta semana',
                      type:'line',
                      data:[1, 5, 2, 5, 3, 7, 0],
                      markPoint : {
                          data : [
                            {type : 'max', name: 'Max'},
                            {type : 'min', name: 'Min'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name : 'Average'}
                          ]
                      }
                  }
              ]
            }" style="height:400px" >
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <h3>Lugar de procedencia</h3>
            <small class="block text-muted">Desde aqui vienen nuestros inmigrantes</small>
          </div>
          <div class="box-body">
            <div ui-jp="chart" ui-options="{
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:['Actual', 'Promedio']
                },
                calculable : true,
                grid : {
                  x: 60
                },
                xAxis : [
                    {
                        type : 'value',
                        boundaryGap : [0, 0.01]
                    }
                ],
                yAxis : [
                    {
                        type : 'category',
                        data : ['El Salvador','Honduras','Peru','Haiti','Guatemala','Mexico']
                    }
                ],
                series : [
                    {
                        name:'Noviembre',
                        type:'bar',
                        data:[182, 234, 290, 1049, 1317, 1517]
                    },
                    {
                        name:'Promedio',
                        type:'bar',
                        data:[193, 234, 310, 1215, 1341, 1517]
                    }
                ]
            }" style="height:300px" >
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <div class="box">
          <div class="box-header">
            <h3>Sexo</h3>
            <small class="pull-left">Hombres</small><small class="pull-right">Mujeres</small>
          </div>
          <div class="box-body text-center">
            <div class="row-col">
              <div class="row-cell">
                <div class="inline">
                  <div ui-jp="easyPieChart" class="easyPieChart" ui-refresh="app.setting.color" data-redraw='true' data-percent="75" ui-options="{
                      percent: 75,
                      lineWidth: 5,
                      trackColor: 'rgba(25, 118, 208, 0.5)',
                      barColor: '{{app.setting.color.primary}}',
                      scaleColor: 'transparent',
                      size: 65,
                      scaleLength: 0,
                      lineCap: 'butt',
                      animate:{
                        duration:0,
                        enabled:false
                      }
                    }">
                    <div>
                      75%
                    </div>
                  </div>
                </div>
              </div>
              <div class="row-cell">
                <div class="inline">
                  <div ui-jp="easyPieChart" class="easyPieChart" ui-refresh="app.setting.color" data-redraw='true' data-percent="45" ui-options="{
                      percent: 35,
                      lineWidth: 5,
                      trackColor: 'rgba(255,105,180, 0.5)',
                      barColor: '{{app.setting.color.warn}}',
                      scaleColor: 'transparent',
                      size: 75,
                      scaleLength: 0,
                      lineCap: 'butt',
                      animate:{
                        duration:0,
                        enabled:false
                      }
                    }">
                    <div>
                      45%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <h3>Edades</h3>
          </div>
          <div class="box-body">
            <div ui-jp="plot" ui-refresh="app.setting.color" ui-options="
              [
                { data: {{p_b_2}} }
              ],
              {
                bars: { horizontal: true, show: true, fill: true,  barWidth: 0.7, lineWidth: 1, fillColor: { colors: [{ opacity: 0.8 }, { opacity: 1}] }, align: 'center' },
                colors: ['{{app.setting.color.primary}}'],
                series: { shadowSize: 3 },
                xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom' },
                yaxis:{ show: true, font: { color: '#ccc' }},
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: 'rgba(120,120,120,0.5)' },
                tooltip: true,
                tooltipOpts: { content: '%x.0 personas con %y años',  defaultTheme: false, shifts: { x: 0, y: -40 } }
              }
            " style="height:200px" >
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <h3>Grupos</h3>
            <small class="block text-muted">Estos son los grupos que nos visitan</small>
          </div>
          <div class="box-body" id="pie">
            <div ui-jp="chart" ui-options="{
                title: {
                    text: 'A que grupos atendemos？',
                    subtext: 'nuestra entrevistas',
                    x: 'center',
                    y: 'center',
                    itemGap: 20,
                    textStyle : {
                        color : 'rgba(30,144,255,0.8)',
                        fontSize : 20,
                        fontWeight : 'bolder'
                    }
                },
                tooltip : {
                    show: true,
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    orient : 'vertical',
                    x : $('#pie').width()/2 + 10,
                    y : 25,
                    itemGap:12,
                    data:['68% Migrante','29% Calle','3% Otros']
                },
                series : [
                    {
                        name:'1',
                        type:'pie',
                        clockWise:false,
                        radius : [105, 130],
                        itemStyle : {
                           normal: {
                              label: {show:false},
                              labelLine: {show:false}
                          }
                        },
                        data:[
                            {
                                value:68,
                                name:'68% Migrante'
                            },
                            {
                                value:32,
                                name:'invisible',
                                itemStyle : {
                                    normal : {
                                        color: 'rgba(0,0,0,0)',
                                        label: {show:false},
                                        labelLine: {show:false}
                                    },
                                    emphasis : {
                                        color: 'rgba(0,0,0,0)'
                                    }
                                }
                            }
                        ]
                    },
                    {
                        name:'2',
                        type:'pie',
                        clockWise:false,
                        radius : [80, 105],
                        itemStyle : {
                           normal: {
                              label: {show:false},
                              labelLine: {show:false}
                          }
                        },
                        data:[
                            {
                                value:29,
                                name:'29% Persona de la calle'
                            },
                            {
                                value:71,
                                name:'invisible',
                                itemStyle : {
                                    normal : {
                                        color: 'rgba(0,0,0,0)',
                                        label: {show:false},
                                        labelLine: {show:false}
                                    },
                                    emphasis : {
                                        color: 'rgba(0,0,0,0)'
                                    }
                                }
                            }
                        ]
                    },
                    {
                        name:'3',
                        type:'pie',
                        clockWise:false,
                        radius : [55, 80],
                        itemStyle : {
                           normal: {
                              label: {show:false},
                              labelLine: {show:false}
                          }
                        },
                        data:[
                            {
                                value:3,
                                name:'3% Otros'
                            },
                            {
                                value:97,
                                name:'invisible',
                                itemStyle : {
                                    normal : {
                                        color: 'rgba(0,0,0,0)',
                                        label: {show:false},
                                        labelLine: {show:false}
                                    },
                                    emphasis : {
                                        color: 'rgba(0,0,0,0)'
                                    }
                                }
                            }
                        ]
                    }
                ]
            }" style="height:300px" >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8">

      </div>
    </div>
</div>
